@using ColdCallsTracker.Code.Data.Models
@using ColdCallsTracker.Code.Utils
@model ColdCallsTracker.Code.Data.ViewModels.EditCompanyPageModel

@{
    ViewBag.Title = "Редактирование компании";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css" />
}


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.dependencyLib.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-inputmask@0.2.1/dist/vue-inputmask-browser.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-select2@0.2.6/dist/vue-select.min.js"></script>

    <script src="~/js/companies/quotes-management.js" asp-append-version="true"></script>
    <script src="~/js/companies/edit-company.js" asp-append-version="true"></script>
}

<div v-cloak data-basic-price-per-hour="@GlobalVariables.AverageSalaryPerHour" class="company-edit-page">
    <div v-bind:html="errorsView" class="errors-holder"></div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a v-bind:class="{ 'active': currentTab === 'main' }" v-on:click="currentTab = 'main'" class="nav-link" href="javascript:;">
                <strong>{{ entity.Name || 'Данные о компании' }}</strong>
                
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" v-bind:class="{ 'active': currentTab === 'costings' }" v-on:click="currentTab = 'costings'" href="javascript:;">
                <strong>Сметы</strong>
            </a>
        </li>
        <li class="mt-2" >
            <span><a v-bind:href="entity.SearchLink" target="_blank" class="btn btn-xs btn-primary org-search-link"><i class="fas fa-external-link-alt"></i></a></span>
        </li>
    </ul>

    <div v-show="currentTab === 'main'" class="main-tab">
        <h2>
            <span class="pb-2"></span>
            <span v-on:click="save" class="btn btn-success float-right ml-2 btn-sm">Сохранить</span>
            <a href="/Companies/" class="btn btn-info float-right btn-sm">Отмена</a>
        </h2>

        <div class="current-page-content">
            <div>
                <div class="form-group row">
                    <label class="col-sm-1 ">Название</label>
                    <div class="col-sm-3">
                        <input type="text" v-model="entity.Name" class="form-control form-control-sm" placeholder="Краткое название фирмы">
                    </div>
                    <label class="col-sm-1 text-right">Сайты</label>
                    <div class="col-sm-3">
                        <input type="text" v-model="entity.WebSites" class="form-control form-control-sm" placeholder="Список сайтов через пробел">
                    </div>
                    <label class="col-sm-1 text-right">Статус</label>
                    <div class="col-sm-3">
                        <select v-model="entity.StateId" class="form-control  form-control-sm">
                            <option value="0">Черновик</option>
                            <option value="1">В процессе</option>
                            <option value="2">Успех</option>
                            <option value="3">Отказ</option>
                            <option value="4">Не подходит</option>
                        </select>
                    </div>

                </div>
                <div class="form-group row">
                    <label class="col-sm-1">Адрес</label>
                    <div class="col-sm-11">
                        <input type="text" v-model="entity.Address" class="form-control form-control-sm" placeholder="Адрес">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-1">Деятельность</label>
                    <div class="col-sm-11">
                        <input type="text" v-model="entity.ActivityType" class="form-control form-control-sm" placeholder="Описание рода деятельности">
                    </div>
                </div>

                <div class="">
                    <div class="">
                        <textarea class="form-control form-control-sm" v-model="entity.Remarks" rows="3" placeholder="Текст примечания"></textarea>
                    </div>
                </div>
                <div class="mt-1 text-center">
                </div>
            </div>
            <div v-if="entity.Id > 0">
                <div class="row">
                    <div class="col mt-2">
                        <div class="phone-holder">
                            <div class="phones-list">
                                <select v-bind:disabled="entity.Phones.length === 0" v-model="selectedPhoneId" class="form-control form-control-sm">
                                    <option v-for="phone in entity.Phones" v-bind:value="phone.Id">{{ phone.Number }} - {{ phone.Remarks }}</option>
                                </select>
                            </div>
                            <div class="phoens-management">
                                <span v-bind:class="{ 'disabled' : entity.Phones.length === 0 }" v-on:click="copyPhone" class="btn btn-warning btn-sm mr-3">
                                    <i class="fas fa-copy"></i>
                                    Копировать номер
                                </span>
                                <span v-bind:class="{ 'disabled' : entity.Phones.length === 0 }" v-on:click="editPhone" class="btn btn-success btn-sm">
                                    <i class="fas fa-edit"></i>
                                    Редактировать
                                </span>
                                <span v-on:click="addPhone" class="btn btn-secondary ml-2 btn-sm">
                                    <i class="fas fa-plus-circle"></i>
                                    Добавить
                                </span>
                                <span v-on:click="removePhone" v-bind:class="{ 'disabled' : entity.Phones.length === 0 }" class="btn btn-secondary ml-2 btn-sm">
                                    <i class="fas fa-times"></i>
                                    Удалить
                                </span>
                                <span v-bind:class="{ 'disabled' : !callDescription || !selectedPhoneId }" v-on:click="saveRecord" class="btn btn-danger ml-2 btn-sm">
                                    <i class="fas fa-save"></i>
                                    Сохранить запись
                                </span>
                            </div>
                        </div>
                        <div>
                            <textarea placeholder="Описание звонка" v-model="callDescription" v-on:keyup.ctrl.enter="saveRecord" rows="2" class="form-control mt-3"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <table class="records-table table table-bordered table-hover table-sm table-striped">
                            <tbody>
                                <tr v-for="record in entity.Records">
                                    <td class="call-content">{{ record.Content }}</td>
                                    <td class="phone">{{ record.Phone }}</td>
                                    <td class="date">{{ record.DateCreate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="currentTab === 'costings'" class="costings-tab">
        <div class="d-flex">
            <div class="dropdown mt-2">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Добавить смету из шаблона
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var item in Model.QuoteTemplates)
                    {
                        <a class="dropdown-item" v-on:click="addQuoteFromTemplate(@item.Id)" href="javascript:;">
                            @item.Name - @(Math.Round(item.Total).ToString("N0")) р.
                            (дн: @Math.Round(item.TotalHours / GlobalVariables.WorkingHoursPerDay, 1) недель: @Math.Round((item.TotalHours / GlobalVariables.WorkingHoursPerDay) / 5, 1))
                        </a>
                    }
                </div>
            </div>
            <span v-on:click="newQuote" class="btn btn-primary btn-sm ml-2 mt-2">Добавить пустую смету</span>
        </div>
        <div>
            <div v-for="quote in entity.Quotes" class="card mt-2">
                <div class="card-header d-flex">
                    <div class="quote-header-wrapper pl-2 mr-2 d-flex">
                        <i v-on:click="quote.Opened = !quote.Opened" v-bind:class="{ 'fa-angle-down' : quote.Opened, 'fa-angle-up' : !quote.Opened }" class="fas fa-angle-down mt-1"></i>
                        <span class="quote-header ml-2">
                            <input type="text" v-model="quote.Name" v-on:change="renameQuote(quote)" class="form-control-xs form-control" />
                        </span>
                    </div>
                    <span class="badge badge-info mr-2 date-changed-info">изм: {{ quote.DateModify }}</span>
                    <span v-on:click="deleteQuote(quote.Id)" class="btn btn-danger btn-xs float-right"><i class="fas fa-times"></i></span>
                </div>
                <div v-show="quote.Opened" class="card-body">
                    <div class="costing-templates-page quotes-for-company">
                        <table class="table-xs table table-bordered table-hover table-striped mb-0">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="id costing-template-select-cell pt-1">
                                        <select v-model="quote.SelectedCostingTemplateId" v-bind:class="'costings-template-select-' + quote.Id" class="form-control-sm form-control">
                                            <option value=""></option>
                                            @foreach (var costingTemplate in Model.CostingTemplates.OrderBy(x => x.CategoryName).ThenBy(x => x.Name))
                                            {
                                                <option value="@costingTemplate.Id">
                                                    [@costingTemplate.CategoryName] @costingTemplate.Name
                                                    @if (costingTemplate.Qty > 0)
                                                    {
                                                        <text>| @costingTemplate.Qty @costingTemplate.UnitName</text>
                                                    }
                                                    @if (costingTemplate.Cost > 0)
                                                    {
                                                        <text>| Кол: @costingTemplate.Cost</text>
                                                    }
                                                    @if (costingTemplate.Total > 0)
                                                    {
                                                        <text>| Цена: @((costingTemplate.Total ?? 0).ToString("N0"))</text>
                                                    }
                                                </option>
                                            }
                                        </select>
                                    </th>
                                    <th class="category">Категория</th>
                                    <th>Название услуги</th>
                                    <th class="qty">Кол. ед</th>
                                    <th class="unit">Ед. измер.</th>
                                    <th class="cost">Цена 1 ед.</th>
                                    <th class="total">
                                        <div>Цена услуги</div>
                                        <div class="small-description">Цена 1 ед. x Кол.</div>
                                    </th>
                                    <th class="multiplier">
                                        <div>Кол. услуг</div>
                                    </th>
                                    <th class="multiplier">
                                        <div>Всего ед.</div>
                                        <div class="small-description">Кол. усл. x Кол. ед.</div>
                                    </th>
                                    <th class="service-group-price">
                                        <div>Цена группы услуг</div>
                                        <div class="small-description">Всего ед. x Цена 1 ед.</div>
                                    </th>
                                    <th class="actions">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-info">
                                    <td>
                                        <div class="small-costing-add">Новая затрата</div>
                                    </td>
                                    <td>
                                        <select v-model="newCosting.CategoryId" class="form-control form-control-xs">
                                            @foreach (var el in EnumUtil.ToDictionary<CostingCategoryEnum>())
                                            {
                                                <option value="@(el.Key)">@(el.Value)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input v-model="newCosting.Name" type="text" class="form-control form-control-xs" placeholder="Название" />
                                    </td>
                                    <td>
                                        <input v-model="newCosting.Qty" type="text" class="form-control form-control-xs numbers-only" placeholder="Количество" />
                                    </td>
                                    <td>
                                        <select v-on:change="costingChanged(costing,quote)" v-model="newCosting.Unit" class="form-control form-control-xs">
                                            @foreach (var el in EnumUtil.ToDictionary<UnitEnum>())
                                            {
                                                <option value="@(el.Key)">@(el.Value)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input v-model="newCosting.Cost" type="text" class="form-control form-control-xs numbers-only" placeholder="Цена" />
                                    </td>

                                    <td>
                                        <strong>{{ calcTotal(newCosting) }}</strong>
                                    </td>
                                    <td>
                                        <input v-model="newCosting.Multiplier" type="text" class="form-control form-control-xs numbers-only" placeholder="Множитель" />
                                    </td>
                                    <td>
                                        <strong>{{ getQtyTotal(newCosting) | toNumber }}</strong>
                                    </td>
                                    <td>
                                        <strong>{{ getMultiplierTotal(newCosting) | toNumber }}</strong>
                                    </td>
                                    <td class="actions d-flex">
                                        <span v-on:click="addCosting(quote)" v-bind:class="{ 'disabled-button' : !addCostingBtnActive }" class="btn btn-xs btn-primary add-costing-btn"><i class="fas fa-plus"></i></span>
                                    </td>
                                </tr>
                                <tr v-bind:class="{ 'table-danger': !costingValid(costing) }" v-for="costing in quote.Costings">
                                    <td>{{ costing.Id }}</td>
                                    <td>
                                        <select v-on:change="costingChanged(costing, quote)" v-model="costing.CategoryId" class="form-control form-control-xs">
                                            @foreach (var el in EnumUtil.ToDictionary<CostingCategoryEnum>())
                                            {
                                                <option value="@(el.Key)">@(el.Value)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input v-on:change="costingChanged(costing,quote)" v-model="costing.Name" type="text" class="form-control form-control-xs" placeholder="Название" />
                                    </td>
                                    <td>
                                        <input v-on:change="costingChanged(costing,quote)" v-model="costing.Qty" type="text" class="form-control form-control-xs numbers-only" placeholder="Количество" />
                                    </td>
                                    <td>
                                        <select v-on:change="costingChanged(costing,quote)" v-model="costing.Unit" class="form-control form-control-xs">
                                            @foreach (var el in EnumUtil.ToDictionary<UnitEnum>())
                                            {
                                                <option value="@(el.Key)">@(el.Value)</option>
                                            }
                                        </select>
                                    </td>
                                    <td>
                                        <input v-on:change="costingChanged(costing,quote)" v-model="costing.Cost" type="text" class="form-control form-control-xs numbers-only" placeholder="Цена" />
                                    </td>

                                    <td>
                                        <strong>{{ calcTotal(costing) | toNumber }}</strong>
                                    </td>
                                    <td>
                                        <input v-on:change="costingChanged(costing,quote)" v-model="costing.Multiplier" type="text" class="form-control form-control-xs numbers-only" placeholder="Множитель" />
                                    </td>
                                    <td>
                                        <strong>{{ getQtyTotal(costing) | toNumber }}</strong>
                                    </td>
                                    <td>
                                        <strong>{{ getMultiplierTotal(costing) | toNumber }} р.</strong>
                                    </td>
                                    <td class="actions d-flex">
                                        <span v-on:click="deleteCosting(costing, quote)" class="btn btn-xs btn-danger add-costing-btn pl-1 pr-1">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <label class="form-check-label ml-4">
                                            <input type="checkbox" v-model="quote.CustomDesign" v-on:change="designChanged(quote)" class="form-check-input">
                                            Индивидуальный дизайн
                                        </label>
                                    </td>
                                    <td colspan="5">
                                        От стоимости UI: @(GlobalVariables.CustomDesignMarkup * 100) %
                                    </td>
                                    <td>
                                        {{ quote.CustomDesignTotalHrs }} ч.
                                    </td>
                                    <td>
                                        {{ quote.CustomDesignTotal.toFixed(0) | toNumber }} р.
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <strong>Итого сроки-стоимость</strong>
                                    </td>
                                    <td colspan="6">
                                        Общее время работ в часах: <strong>{{ quote.TotalHours }}</strong>,
                                        дней: <strong>{{ (quote.TotalHours / @(GlobalVariables.WorkingHoursPerDay)).toFixed(1) }}</strong>
                                        раб. недель: <strong>{{ ((quote.TotalHours / @(GlobalVariables.WorkingHoursPerDay))/5).toFixed(2) }}</strong>
                                    </td>
                                    <td><strong>{{ quote.Total.toFixed(0) | toNumber }} р.</strong></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div v-show="visible" class="edit-phone-modal" v-cloak>
    <div class="modal" tabindex="-1" style="display: inline-block !important" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ entity.Id == 0 ? 'Редактирование' : 'Добавление' }} телефона</h5>
                    <button type="button" v-on:click="close" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div>
                            <input type="text" class="form-control phone-input" v-model="entity.Number" v-on:keyup="maskCheck"
                                   v-mask="'9 (999) 999-99-99'" v-on:keyup.enter="save" placeholder="телефон" />
                        </div>
                        <div v-if="hasDuplicates" class="alert alert-danger mt-2">
                            <div><strong>Найден дубликат</strong></div>
                            <div><a href="#" target="_blank"><em>{{ duplicate.company }}</em></a></div>
                        </div>
                    </div>
                    <div>
                        <div><input type="text" class="form-control" v-model="entity.Remarks" v-on:keyup.enter="save" placeholder="Описание" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" v-on:click="save" v-bind:class="{ 'disabled': !isReadyForSave }" class="btn btn-danger">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />