@using ColdCallsTracker.Code.Extensions
@using ColdCallsTracker.Code.Utils
@model ColdCallsTracker.Code.Data.ViewModels.QuoteTemplateItem

@{
    ViewBag.Title = "Редактирование шаблона";
    Layout = "_Layout";
}

@section Styles {

}

@section Scripts {
    <script src="~/js/quote-templates/quote-templates.js" asp-append-version="true"></script>
}

<div data-json="@Model.ToJson()" class="edit-quote-template">

    <div class="row">
        <div class="col">
            <h1>Редактирование шаблона</h1>
        </div>
    </div>

    <form method="post">
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            <label>Название</label>
            <input type="text" class="form-control template-name" name="@Html.NameFor(x => x.Name)" v-model="Name" placeholder="Введите название (Обязательно)">
        </div>
        <span v-on:click="saveTemplate()" v-bind:class="{ 'disabled-button': isEmptyName }" class="btn btn-primary mb-3">Сохранить</span>
    </form>

    <h4>
        Список затрат
        <small class="float-right">
            <span class="pt-1 d-inline-block float-left mr-2">Показывать только отмеченные</span>
            <label class="switch">
                <input v-model="showOnlyChecked" type="checkbox">
                <span class="slider round"></span>
            </label>
        </small>
    </h4>
    <div class="costing-templates-page">
        <table class="table-sm table table-bordered table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="id">#</th>
                    <th class="category">Категория</th>
                    <th>Название</th>
                    <th class="qty">Кол.</th>

                    <th class="unit">Юнит</th>
                    <th class="cost">Цена</th>
                    <th class="total">Всего</th>
                    <th class="multiplier">Множитель</th>
                    <th class="multiplier">Мн. Всего</th>
                    <th class="actions">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-bind:class="{ 'table-warning' : isCheckedCosting(item) }" v-show="showOnlyChecked === false || (showOnlyChecked === true && isCheckedCosting(item))" v-for="item in AvaliableCostingTemplates">
                    <td>{{ item.Id }}</td>
                    <td>{{ item.CategoryName }}</td>
                    <td v-bind:title="item.Name" class="costing-description">
                        {{ item.Name }}
                    </td>
                    <td>
                        {{ item.Qty }}
                    </td>

                    <td>
                        {{ item.UnitName }}
                    </td>
                    <td>
                        {{ (item.Cost || 0).toFixed(0) }}
                    </td>
                    <td>
                        {{ (item.Total || 0).toFixed(0) }}
                    </td>
                    <td>
                        <template v-if="!!getRelation(item)">
                            <input type="number" v-model="getRelation(item).Multiplier" v-on:change="setMultiplier(item)" class="form-control form-control-sm" />
                        </template>
                        <template v-else>
                            <input type="number" placeholder="1" class="form-control form-control-sm with-single-multiplier" disabled="disabled" />
                        </template>
                    </td>
                    <td>
                        {{ calcWithMultiplier(item) }}
                    </td>
                    <td v-on:click="checkCosting(item)" class="actions check-uncheck-costing">
                        <i v-if="isCheckedCosting(item)" class="fas fa-check text-success"></i>
                        <i v-if="!isCheckedCosting(item)" class="fas fa-times text-danger"></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <label class="form-check-label ml-4">
                            <input v-model="CustomDesign" type="checkbox" class="form-check-input">
                            Индивидуальный дизайн
                        </label>
                    </td>
                    <td colspan="5">
                        От стоимости UI: @(GlobalVariables.CustomDesignMarkup * 100) %
                    </td>
                    <td>
                        <strong>{{ CustomDesignTotal.toFixed(0) }}</strong>
                    </td>
                    <td class="actions check-uncheck-costing"></td>
                </tr>
                <tr>
                    <td colspan="3"><strong>Итого сроки-стоимость</strong></td>
                    <td colspan="5">
                        Общее время работ в часах: <strong>{{ TotalHours }}</strong>,
                        дней: <strong>{{ (TotalHours / @(GlobalVariables.WorkingHoursPerDay)).toFixed(1) }}</strong>
                        раб. недель: <strong>{{ ((TotalHours / @(GlobalVariables.WorkingHoursPerDay))/5).toFixed(2) }}</strong>
                    </td>
                    <td>
                        <strong>{{ Total.toFixed(0) }} р.</strong>
                    </td>
                    <td class="actions check-uncheck-costing"></td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="form-check mb-5">

    </div>

</div>
